<h1 mat-dialog-title>Cadastro de Compra</h1>
<div mat-dialog-content [ngStyle]="{'width': '400px'}">

    <mat-form-field>
      <mat-label>Selecione a carrinho</mat-label>
      <mat-select [(ngModel)]="compra.compraCarrinho" name="compraCarrinho">
        <mat-option *ngFor="let carrinho of carrinhos" [value]="compraCarrinho">
          {{ carrinho.codigo }}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="cancelar()" color="accent">Cancelar</button>
    <button mat-button (click)="salvar()" color="primary">Salvar</button>
</div>
