mat-form-field {
  width: 100%;
}

.online {

  margin: 8px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: green;
}

.offline {
  margin: 8px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: red;
}
