<div style="margin-left: 10px; margin-top: 10px;">

    <mat-list id="compralista" style="max-height: 150vh; overflow-y: auto;">
    
        <h1 mat-subheader>Compras</h1>
    
        <div style="margin-left: 10px; margin-top: 10px;">
    
            <button id="novaCompra" mat-fab class="bottomButtom"
            color="accent" (click)="novaCompra()">
                <mat-icon>add</mat-icon>
            </button>    
            <div>
                <mat-list-item *ngFor="let compra of compras">        
                <h5 mat-line>                    
                    {{"Compra: "}}{{compra.codigo}}                    
                </h5>
                <h4 mat-line >
                    {{"Nome da Pessoa: "}}{{compra.compraCarrinho.pessoa.nome}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>{{"Valor Total do Carrinho: "}} {{ (compra.compraCarrinho.valorTotal == null ? 0 : compra.compraCarrinho.valorTotal) | currency: 'BRL' }}</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{"Desconto: "}} {{ (compra.desconto == null ? 0 : compra.desconto) | currency: 'BRL' }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>{{"Valor com o Desconto: "}} {{ (compra.valorComDesconto == null ? 0 : compra.valorComDesconto) | currency: 'BRL' }}<br></b>
                </h4>
                <button mat-icon-button (click)="remover(compra)">
                    <mat-icon class="iconcolor"
                    aria-label="Remover">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="alterarCompra(compra)">
                    <mat-icon class="material-icons"
                    aria-label="Alterar">build</mat-icon>
                </button>
                </mat-list-item>
            </div>
        </div>
    </mat-list>
</div>