<div [ngStyle]="{'height': '300px', 'width':'600px' ,'overflow-y': 'auto'}">

  <mat-list id="carrinholista" style="max-height: 150vh; overflow-y: auto;">

      <h1 mat-subheader>Itens do carrinho</h1>

      <div style="margin-left: 15px; margin-top: 15px;">

          <h4 mat-line *ngIf="produtosDoCarrinho">
            Não existem produtos dentro do carrinho
          </h4>

          <mat-list-item *ngFor="let produtoCarrinho of produtosDoCarrinho">

              <h4 mat-line>
                {{ produtoCarrinho.codigo }} - {{ produtoCarrinho.produto.nome }} - {{ produtoCarrinho.quantidade }} - {{ produtoCarrinho.valorTotal | currency: 'BRL' }}
              </h4>

              <button mat-icon-button (click)="remover(carrinho)">
                  <mat-icon class="iconcolor"
                  aria-label="Remover">delete</mat-icon>
              </button>

          </mat-list-item>

      </div>

  </mat-list>

</div>
